{% extends "settings/settings.html" %}
{% block password %}
    <form action="" method="post">{% csrf_token %}
      {{ form.password.label_tag }}
      {{ form.password }}<br/>
      {{ form.new_password.label_tag }}
      {{ form.new_password }}<br/>
      {{ form.new_password_again.label_tag }}
      {{ form.new_password_again }}<br/>
      <input type="submit" value="Done"/>
      <a href="/settings/">Cancel</a>
    </form>
    {% if errors_list %}
        <ul>
        {% for errors in errors_list %}
          <li>{{ errors }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}