<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile_settings.css"/>
<script type="text/javascript">
    $(document).ready(function(){
        $("#edit-4").click("click",function(){
            $("#edit-4").hide();
            $("#form-fields-password").load("/edit_password/");
            return false;
        });
    });
</script>
<div id="password">
        <div class="param">Password</div>
        <div class="value">last edited on {{ password_update_date|date:"b d Y" }}
        <a class="edit" href="/edit_password/" id="edit-4">Edit</a></div>
    <div class="form-fields" id="form-fields-password">
    </div>
</div>