
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile_settings.css"/>
<script type="text/javascript">
    $(function(){
        $("#edit-presentJob").click(function(){
            $.get(
                    $(this).attr('href'),
                    function(data){
                        $("#form-fields-presentJob").html(data)
                    }
            );
            return false;
        });
    });
</script>
<div id="presentJob">
    <div class="param">Present Job</div>
    <div class="value">
        {% if user.get_profile.present_job %}
            {{ user.get_profile.present_job }}
        {% else %}
            <span style="color:red;">Not yet updated</span>
        {% endif %}
        <a class="edit" href="/edit/present-job/" id="edit-presentJob">Edit</a></div>
    <div class="form-fields" id="form-fields-presentJob">
    </div>
</div>