<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile_settings.css"/>
<script type="text/javascript">
    $(document).ready(function(){
        $("#editUsername").click("click",function(){
            $(this).parents(".child_wrapper").addClass("bgColor");
            $("#editUsername").hide();
            $("#form-fields-username").load("/edit_username/");
            return false;
        });
    });
</script>
<div id="username">
    <div class="param">Username</div>
    <div class="value">{{ username }}
    <a class="edit" href="/edit_username/" id="editUsername">Edit</a></div>
<div class="form-fields" id="form-fields-username">
</div>
</div>