<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<script src="{{ STATIC_URL }}js/settings_edit.js"></script>
<script>
    $(function(){
        $("#username_edit_form").submit(
                function(e){
                    if($("input#id_username").val()==''){
                        alert("Enter a new username to update");
                        return false;
                    }
                    if($("input#passwordCheckForUsername").val()==''){
                        alert("Please enter your password");
                        return false;
                    }
                    submitForm($(this),'#form-fields-username','#username_wrapper','#editUsername');
                    return false;
                }
        )
    });
</script>
<script>
    $(document).ready(function(){
        $("#cancelUsername").click("click",function(){
            var wrapper = $(this).parents(".child_wrapper");
            $("#username_wrapper").load("/ajax_settings #username_wrapper/");
            $("#form-fields-username").empty();
            $("#editUsername").show();
            wrapper.removeClass("bgColor");
            return false;
        });
    });
</script>

<form id="username_edit_form" action="/edit_username/" method="post" >
    {% csrf_token %}
    {{ form.username.label_tag }}<br/>
    {{ form.username }}<br/>
    <label for="passwordCheckForUsername">Password</label><br/>
    <input id="passwordCheckForUsername" type="password" name="passwordForUsername" maxlength="20"/><br/>
    <input id="username_submit" type="submit" value="Update"/>
    <input type="button" value="Cancel" id="cancelUsername"/>
    <img src="{{ STATIC_URL }}images/ajax-loader.gif" style="display: none;"/>
</form>
