<script src={{ STATIC_URL }}js/edit_status.js></script>
<div class="post" id="status_post_{{ item.id }}">
    <div class="status_post_subject" id="status_post_container_{{ item.id }}">
        <p>posted by <a href="/{{ item.posted_by.username }}/">Dr {{ item.posted_by.get_full_name }}</a></p>
        <p>{{ item.status_update }}</p>
        <p class="dated">
            {{ item.date_posted }}
        </p>
        {% if item.posted_by == user %}
            <a href="/edit-status/{{ item.id }}/?next=/{{ user.username }}/" class="edit_status_post" id="status-edit-{{ item.id }}">Edit</a>
            <a href="/status-post-delete/{{ item.id }}/?next=/{{ user.username }}/" class="delete_post" id="status-delete-{{ item.id }}">Delete</a>
        {% endif %}
    </div>
    <div class="comments_container">
        <div class="comments_body" id="status_comments_body_{{ item.id }}">
            {% for comment in item.statuscomments_set.all %}
                <div class="comment_items" id="status_comment_{{ comment.id }}">
                    <a class="user" href="/{{ comment.posted_by.username }}/">Dr {{ comment.posted_by.get_full_name }}</a>
                    <p>{{ comment }}</p>
                    <p class="comment_date">{{ comment.date_commented }}</p>
                    <div class="comment_edit_delete">
                        {% if item.posted_by == user  or comment.posted_by == user %}
                            <a class="delete_comment" href="/status/delete_comment/{{ comment.id }}/">
                                <img src="{{ STATIC_URL }}images/delete.gif" title="Delete comment"/>
                            </a>
                        {% endif %}
                        {% if comment.posted_by == user %}
                            <a class="edit_comment" href="/status/edit-comment/{{ comment.id }}/">
                                <img src="{{ STATIC_URL }}images/edit.gif" title="Edit comment"/>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="" id="status_num_comments_{{ item.id }}" class="show_list" style="float: right;">
            {% if item.num_comments != 0 %}{{ item.num_comments }} Responses  View Discussion{% endif %}
        </a>
        <a href="" class="hide_list" style="float:right;">
            Hide Discussion
        </a><br/>
        {% if item.can_be_commented %}
            <form class="comment_submit" id="status_comment_form_{{ item.id }}"  method="post" action="/status/comment/{{ item.id }}/">
                {% csrf_token %}
                <label for="id_status_comment_{{ item.id }}">your comment</label><br/>
                {% if user.get_profile.get_profile_picture %}
                    <img src="{{ user.get_profile.get_profile_picture }}" width="50" height="50"/>
                {% else %}
                    <img src="{{ STATIC_URL }}images/default_profile.png" width="50" height="50"/>
                {% endif %}
                <textarea class="comment" id="id_status_comment_{{ item.id }}" cols="50" rows="2" name="comment"></textarea><br/>
                <input class="input_submit" id="status_input_{{ item.id }}" type="submit" value="post comment"/><br/>
            </form>
        {% endif %}
    </div>
</div>