<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
 <div id="p" style="width:500px;display: block;background-color: #f1f1f1;margin: 0;">
     <div id="c1" style="width:200px;float:left;text-align: left;background-color: blue;clear: left;">child one</div>
     <div id="c2" style="width:200px;background-color: red;margin-left: 220px;">child two</div>
     <div id="c3" style="width:50px;background-color: green;margin-left: 450px;">child three</div>
 </div>
</body>
</html>